{
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"svelteSortOrder": "options-scripts-markup-styles",
	"plugins": [
		"prettier-plugin-svelte"
	],
    "overrides": [
		{ 
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	]
}